In [1]:
import os
import sys
import pandas as pd
filepath = os.path.dirname(os.path.abspath("")) + "/ToPython"

In [17]:
dados = ['/dados','/dadosEntropy']
dados = ['/dadosEntropy']

data_types = ['poly','ts']
atributes = ['bytes','pacotes']

atributes = ['bytes_ps','pacotes_ps']
for dado in dados:
    for data_type in data_types:
        for atribute in atributes:
            fullpath = filepath + dado + '/erro_' + data_type + '_'+atribute+'.csv'
            print(fullpath)
            display(pd.read_csv(fullpath))

C:\Users\FelipeSU\Documents/ToPython/dadosEntropy/erro_poly_bytes_ps.csv

,Unnamed: 0,0,1,2,3,4,5,6
0,0,0.691266,0.411220,0.185328,0.232996,0.191847,0.228942,0.239147
1,1,0.676309,0.234241,0.161037,0.210105,0.170307,0.205938,0.215143
2,2,0.666077,0.186080,0.152961,0.198376,0.163236,0.199320,0.203634
3,3,0.591360,0.134988,0.114207,0.177784,0.130416,0.164165,0.168608

C:\Users\FelipeSU\Documents/ToPython/dadosEntropy/erro_poly_pacotes_ps.csv

,Unnamed: 0,0,1,2,3,4,5,6
0,0,0.564296,0.903686,0.191569,0.250002,0.234396,0.300643,0.417370
1,1,0.477869,0.741541,0.107454,0.129747,0.148946,0.190176,0.305199
2,2,0.465093,0.694669,0.099895,0.119823,0.139775,0.182911,0.292814
3,3,0.408690,0.632245,0.078513,0.096770,0.124350,0.161014,0.277013

C:\Users\FelipeSU\Documents/ToPython/dadosEntropy/erro_ts_bytes_ps.csv

,Unnamed: 0,0,1,2,3,4,5,6
0,0,0.014110,0.004638,0.219363,0.013371,0.010968,0.014465,0.012022
1,1,0.000644,0.022388,0.068951,0.001973,0.001320,0.000901,0.001058
2,2,0.003368,0.110676,0.085343,0.016201,0.004038,0.010167,0.003974
3,3,0.059247,0.168154,0.033739,0.017310,0.024331,0.039524,0.032634

C:\Users\FelipeSU\Documents/ToPython/dadosEntropy/erro_ts_pacotes_ps.csv

,Unnamed: 0,0,1,2,3,4,5,6
0,0,0.110216,0.148369,0.697975,0.085437,0.132259,0.097114,0.133536
1,1,0.002800,0.005799,0.191183,0.000938,0.000978,0.001842,0.001643
2,2,0.001935,0.021423,0.065555,0.001551,0.001583,0.004909,0.002681
3,3,0.028668,0.041210,0.169408,0.006163,0.021252,0.018821,0.014126

In [ ]:
dados = ['/dados','/dadosEntropy']
dados = ['/dados']

data_types = ['poly','ts']
atributes = ['bytes','pacotes']

for dado in dados:
    for data_type in data_types:
        for atribute in atributes:
            fullpath = filepath + dado + '/erro_' + data_type + '_'+atribute+'.csv'
            print(fullpath)
            display(pd.read_csv(fullpath))